.App {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    color:black;
    background-color:whitesmoke
        
}

.tableLook{
   background-color: grey;
   margin: 10px;
   padding: 5px;
  
}

h1{
    text-align: center;
    justify-content: center;
}

